# Core libraries
numpy
pandas

# Data processing & I/O
openpyxl
pyarrow
pdfplumber
pyreadstat

# Visualization
matplotlib
plotly
seaborn

# Machine learning
imbalanced-learn
joblib
scikit-learn
xgboost

# Model interpretation
shap

# Dashboard
streamlit

# Development / testing
jupyter
pytest
